<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>A personal exploration of online identity in a world after social media.</p>
  </body>
</html>
