<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>A personal exploration of online identity in a world after social media.</p>

    <a href="/forsale"><img src="/images/titles/forsale1.gif" alt="A warping title reading For Sale!"></a>

    <hr>

    <a href="/links">links</a>

    <hr>

    <a href="/forsale/nfts.html"><img src="/images/titles/nft2.gif" alt="A warping title reading NFT"></a>

    <hr>

    <!-- <div>Ponderings:
    <div id="loading">
    </div>
    <span id="loading-status"></span>
    </div>

    <script src="javascripts/index/loading.js"></script> -->
  </body>
</html>
