<!DOCTYPE html>
<html>
  <head>
    <title>Ponderings</title>
  </head>
  <body>
    <h1>Ponderings</h1>
    <%= ponderings %>
    <!-- <% // for (var i = 0; i < ponderings.length; i++) { %>
      <div>
          ponderings[i].id
      </div>
    <% // } %> -->
  </body>
</html>
